/* Global */
:root {
    --white: #fff;
    --light-grey: #ccc;
    --grey: #343434;
    --grey-transparent: #34343455;
    --blue: #1478C8;
    --blue-transparent: #288bdcb9;
    --light-blue: #288CDC;
    --dark-blue: #06467A;
    --green: #3FA652;
    --green-transparent: #3FA65215;
    --dark-green: #21552A;
    --gold: #C78114;
    --brown: #7A4A00;
    --brown-transparent: #7A4A00b9;
    --salmon: #FC7F69;
    --salmon-transparent: #FC7F69b9;
}

body {
    font-family: "Circe Rounded", Arial, Helvetica, sans-serif;
    margin: auto;
    color: var(--grey);
}

main {
    width: 1214px;
    margin: auto;
}

p {
    font-size: 18px;
}

h1, h2, h3, h4, h5 {
    font-family: "Filson Soft", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 96px;
    font-weight: 300;
    text-align: center;
    letter-spacing: -1.5px;
    line-height: 1;
}

h2 {
    font-size: 38px;
    font-weight: 600;
    color: var(--blue);
    margin: auto;
}

h3 {
    font-size: 30px;
    font-weight: 600;
    margin: auto;
}

h4 {
    font-size: 26px;
    font-weight: 300;
}

h5 {
    font-size: 22px;
    font-weight: 600;
}

h6 {
    font-size: 16px;
    text-decoration: underline;
    margin: 16px auto 0 auto;
}

a {
    text-decoration: none;
    color: var(--white);
}

.flex-container {
    display: flex;
    max-width: 1275px;
    margin: auto;
    gap: 62px;
}

.flex-container main {
    flex: 3;
    border-right: 1px solid var(--grey-transparent);
    padding: 32px 62px 32px 0;
}

/* Header */
.header-top {
    max-width: 1640px;
    margin: auto;
}

.logo {
    display: flex;
    width: 450px;
    height: 180px;
    margin: 0 0 10px 0;
}

.logo-img {
    width: 150px;
    height: 150px;
    margin-top: 30px;
}

.logo-text {
    font-size: 2.5em;
    color: var(--blue);
    font-weight: 350;
    line-height: 1;
}

.logo-name {
    border-bottom: 0.5px solid var(--grey);
}

.logo-sub {
    font-size: 21px;
    font-weight: 350;
}

.search-container {
    display: inline-flex;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    position: relative;
    left: 1300px;
    bottom: 48px;
}

.search-icon {
    margin: auto;
    padding: 8px 0 8px 16px;
}


.search-bar {
    border: none;
    font-size: 14px;
    padding: 8px 16px 8px 8px;
}

.search-button {
    background: var(--light-blue);
    font-family: "Circe Rounded", Arial, Helvetica, sans-serif;
    font-size: 18px;
    border: none;
    color: var(--white);
    padding: 8px;
}

nav {
    display: flex;
    justify-content: center;
    background: var(--blue);
    margin: auto;
    text-align: center;
    height: 63px;
    position: relative;
    bottom: 32px;
}

nav a {
    margin: auto 0;
    padding: 18px 0;
    width: 260px;
    font-size: 21px;
    box-shadow: inset 0 0 0 32px var(--blue-transparent);
}

.nav-exhibitions {
    background-image: url(../images/Mammoth.jpg);
    background-size: cover;
    background-position-y: 30%;
    border-left: 3px solid var(--dark-blue);
}

.nav-events {
    background-image: url(../images/Family.jpg);
    background-size: cover;
    background-position-y: 40%;
    border-left: 3px solid var(--dark-blue);
}

.nav-about {
    background-image: url(../images/Exterior.jpg);
    background-size: cover;
    background-position-y: 55%;
    border-left: 3px solid var(--dark-blue);
}

.nav-support {
    background-image: url(../images/Astronaut.jpg);
    background-size: cover;
    background-position-y: 15%;
    border-left: 3px solid var(--dark-blue);
    border-right: 3px solid var(--dark-blue);
}

.breadcrumb a {
    background-color: var(--blue);
    padding: 11px 13px;
    font-size: 1.5em;
    margin-left: 140px;
}

/* Side menu */
.flex-container aside img {
    width: 235px;
    height: 190px;
    object-fit: cover;
    margin-left: 16px;
    margin-bottom: 12px;
}

.flex-container aside {
    flex: 1;
    padding-top: 32px;
}

.contact-cont {
    text-align: center;
    border: 1px solid var(--grey);
    border-radius: 5px;
    margin-bottom: 32px;
}

.news-cont {
    border: 1px solid var(--grey);
    border-radius: 5px;
}

.news-cont h6 {
    margin: 16px 16px 0 16px;
}

.news-cont img {
    margin: auto;
}

.img-border {
    border-bottom: 1px solid var(--grey-transparent);
    padding-bottom: 32px;
}

.contact-cont h5 {
    margin: 16px auto 0 auto;
}

.contact-cont p {
    margin: 0 auto 16px 0;
}

.news-cont p {
    margin: 2px 16px;
    font-style: italic;
    font-weight: 350;
}

.aside-h4 {
    background: var(--grey);
    color: white;
    margin: auto;
    padding: 5px;
    text-align: left;
}

.grey-bg {
    background-color: var(--light-grey);
    padding: 1px 0;
}

/* Home page */
.explore-cont img {
    max-width: 400px;
}

.teachers-cont img {
    max-width: 400px;
}

.explore-cont, .teachers-cont {
    display: flex;
    gap: 16px;
    margin: auto;
}

.vrkid-cont {
    margin: auto;
}

.vrkid-cont img {
    margin-top: 64px;
    max-width: 880px;
}

.club-cont {
    border: 2px solid var(--green);
    border-radius: 5px;
    background: var(--green-transparent);
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    margin: 32px auto;
    padding: 32px 138px;
}

.club-cont img {
    max-width: 100px;
}

.club-join {
    font-family: "filson soft", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
    width: 180px;
    margin-left: 16px;
    line-height: 1;
    color: var(--green);
}

.club-time {
    font-style: italic;
    font-weight: 350;
    font-size: 24px;
    width: 250px;
    text-align: center;
    line-height: 1;
}

.p-blue {
    color: var(--blue);
}

.p-darkblue {
    color: var(--dark-blue);
}

.p-green {
    color: var(--green);
}

.p-darkgreen {
    color: var(--dark-green);
}

.p-gold {
    color: var(--gold);
}

.p-salmon {
    color: var(--salmon);
}

.p-brown {
    color: var(--brown);
}

/* Exhibitions page */
.exhibition {
    display: flex;
    gap: 16px;
    margin: auto;
}

.exhibition img {
    width: 420px;
    height: 450px;
    object-fit: cover;
}

.exhibition__margin {
    margin: 64px auto;
}

.quote {
    font-style: italic;
    border-left: 5px solid var(--grey-transparent);
    padding-left: 16px;
    text-align: center;
    font-weight: 350;
    font-size: 16px;
}

.quote__name {
    text-align: right;
    font-size: 16px;
}

.robotics h2 {
    color: var(--grey);
}

.robotics img {
    height: 310px;
}

.biology img {
    height: 500px;
    object-position: right;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-evenly;
    padding: 64px 0 128px 0;
    background-color: var(--blue);
    color: var(--white);
    margin-top: 128px;
}

footer h2 {
    color: var(--white);
}

footer ul {
    padding: 0 16px 16px 16px;
}

footer a {
    border: 1px solid var(--white);
    padding: 16px;
    border-radius: 5px;
}

footer i {
    margin-right: 4px;
}

.footer-contact a i {
    margin-top: 16px;
}

.footer-social i {
    font-size: 3em;
}